{
    {% if not vlan927_sub_if_name is defined %}
        {% if "C1111" in part_number %}
              "vlan927_sub_if_name": "Vlan927",
              "vlan928_sub_if_name": "Vlan928",
        {% endif %}
        {% if "ISR4" in part_number %}
              "vlan927_sub_if_name": "{{ parent_lan_if_name }}.927",
              "vlan928_sub_if_name": "{{ parent_lan_if_name }}.928",
        {% endif %}
        "vlan927_dhcp_helper": "{{ interfaces.get(vlan_interface).helper_address | join(',') | default(regional_dhcp_helper, true) }}",
        "vlan927_pri_ipv4_address": "172.16.0.2/22",
        "vlan927_sub_if_description": "**LIB_HM_WIFI_GUEST**",
        "vlan927_vrrp_ipaddress": "172.16.0.1",
        "vlan928_dhcp_helper": "{{ interfaces.get(vlan_interface).helper_address | join(',') | default(regional_dhcp_helper, true) }}",
        "vlan928_pri_ipv4_address": "172.16.8.2/21",
        "vlan928_sub_if_description": "**LIB_HM_WIFI_ACCESS**",
        "vlan928_vrrp_ipaddress": "172.16.8.1",
    {% endif %}
    "gre_tunnel50_source_interface": "{{ interfaces['Tunnel50']['source']  }}",
    "gre_tunnel50_ip_address": "{{ interfaces['Tunnel50']['ipv4'] }}",
    "gre_tunnel50_destination_ip": "{{ interfaces['Tunnel50']['destination']  }}",
    "gre_tunnel51_source_interface": "{{ interfaces['Tunnel51']['source']  }}",
    "gre_tunnel51_ip_address": "{{ interfaces['Tunnel51']['ipv4']  }}",
    "gre_tunnel51_destination_ip": "{{ interfaces['Tunnel51']['destination']  }}"
}
