<h2><b>{{ inventory_hostname }}</b></h2>
{{ now(fmt="%Y-%m-%d %H:%M:%S") }}: <b>{{ summary }}</b><br>
warnings_msg
{% if alarm_msg is defined %}
<table style="width:100%">
<tr>
<th>Description</th><th>Name</th><th>Successful</th>
</tr>
{% for alarms in alarm_msg %}
<tr><td>{{ alarms['description'] }}</td><td>{{ alarms['name'] }}</td><td>{{ alarms['successful'] }}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if warnings_msg is defined %}
<table style="width:100%">
<tr>
<th>Description</th><th>Name</th><th>Successful</th>
</tr>
{% set alarms = []%}
{% for alarms in warnings_msg %}
<tr><td>{{ alarms['description'] }}</td><td>{{ alarms['name'] }}</td><td>{{ alarms['successful'] }}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if ansible_failed_task is defined and ansible_failed_task %}
    Error occured when <b>'{{ ansible_failed_task.name }}'</b>, action: <b>'{{ ansible_failed_task.action }}</b>'<br>
    <b>fail-result:</b><br>{{ error_msg | default(ansible_failed_result | to_nice_json) }}
{% endif %}
{% if pre_internet_test is defined and pre_internet_test %}
<table style="width:100%">
    <tr>
        <th>popsite</th><th>RTT pre</th><th>RTT post</th>
    </tr>
    <tr><td>INET</td><td>{{ pre_internet_test['rtt']['avg'] | default('-', True) }}ms</td><td>{{ test1['rtt']['avg'] | default('-', True) }}ms</td></tr>
    <tr><td>sth</td><td>{{ ping_sth_gpr_a['rtt']['avg'] | default('-', True) }}ms</td><td>{{ ping_sth_gpr_b['rtt']['avg'] | default('-', True) }}ms</td></tr>
    <tr><td>hkg</td><td>{{ ping_hkg_gpr_a['rtt']['avg'] | default('-', True) }}ms</td><td>{{ ping_hkg_gpr_b['rtt']['avg'] | default('-', True) }}ms</td></tr>
    <tr><td>sec</td><td>{{ ping_sec_gpr_a['rtt']['avg'] | default('-', True) }}ms</td><td>{{ ping_sec_gpr_b['rtt']['avg'] | default('-', True) }}ms</td></tr>
</table>
{% endif %}

{% if table is defined and table %}
<hr>
<table style="width:100%">
    {% for key, value in table.items() %}
    <tr>
        <td>{{ key }}</td><td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if error_msg is defined %}
    ERROR MSG:<br>
    {{ error_msg }}
    <hr>
{% endif %}
