{# Provisioning template Office Printer v1.0 #}

{# Hardware Cisco ISR 4k #}
{% if "C1111" in part_number %}
{
	"generalTemplates": [{
		"templateName": "PROD-EDGE-LAN-VPN1",
		"templateType": "cisco_vpn",
		"subTemplates": [{
			"templateName": "PROD-VLAN1-SVI-VRRP-{{redundant_router_type|upper}}",
			"templateType": "cisco_vpn_interface"
		}]
	}]
}
{% endif %}

{# Hardware Cisco ISR 4k #}
{% if "ISR4" in part_number %}
{
	"generalTemplates": [{
		"templateName": "PROD-EDGE-LAN-VPN1",
		"templateType": "cisco_vpn",
		"subTemplates": [{
			"templateName": "PROD-VLAN1-SUBINT-VRRP-{{redundant_router_type|upper}}",
			"templateType": "cisco_vpn_interface"
		}]
	}]
}
{% endif %}
