TZ=Europe/Stockholm
PRIME_USER=
PRIME_PASSWORD=
PRIME_HOST=
sysUser=
sysPwd=

VMANAGE_IP=
VMANAGE_USER=
VMANAGE_PASSWORD=

VMANAGE_HOST=
VMANAGE_USERNAME=
VMANAGE_PASSWORD=

TACACS_USERNAME=
TACACS_PASSWORD=

SN_USERNAME=
SN_PASSWORD=

DB_KEY=

ZIA_USERNAME=
ZIA_PASSWORD=
ZIA_API=

ZIA_PARTNER_USERNAME=
ZIA_PARTNER_PASSWORD=
ZIA_PARTNER_API=
